@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FedUp</h1>
    <p class="lead">Empowering citizens in police interactions via mobile evidence collection. </p>
    <p><a href="https://github.com/RateMyPoPo" class="btn btn-primary btn-lg">Check out our github &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Geolocation</h2>
        <p>
            Records, stores, and maps out gps data during the time of police interaction.
      
    </div>
    <div class="col-md-4">
        <h2>Audio Recording</h2>
        <p>Verbal harassment or improper police procedure is often overlooked. Audio is a crucial piece of forensic evidence, but usually missing from security and police footage.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Case Folders</h2>
        <p>Automatically uploads case and client folders to Dropbox. This insures reliable storage of user or wittness evidence without tampering or confiscation by the police.</p>
      
    </div>
</div>